.container {
	text-align: center;
}

.container {
	p {
		margin: 0 auto;
		margin-bottom: 1rem;
		width: 35rem;
		font-size: 22px;
		line-height: 1.5;
		word-break: break-word;
		font-family: sans-serif;
	}
}