.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(0, 0, 0, .2);
	min-height: 60px;
	margin-bottom: 2rem;

	h1 {
		font-family: 'Pattaya', sans-serif;;
		font-size: 40px;
		font-weight: 400;
		margin: 0 2rem;

	}
	.btn {
		display: flex;
		justify-content: space-around;
		height: 60%;
		width: 20rem;
		margin-right: 1rem;
	}
	.second {
		display: flex;
		justify-content: space-around;
		width: 12rem;
		align-items: center;

	}
} 

@media all and (max-width: 900px) {
	.container {
		display: flex;
		flex-direction: column;
		padding: 1rem;

		h1 {
			margin-bottom: 7px;
		}
	}	
}
