.container {
	display: flex;
	justify-content: center;
	

	textarea {
		width: 35rem;
	}
	button {
		margin-top: 1rem;
	}
}


@media all and (max-width: 1100px) {
	.container {
		padding: 2rem 0;
		textarea {
			width: auto;

	}


	}
}