<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Старая Одесса</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Montserrat:ital,wght@1,100&family=Ms+Madi&family=Pattaya&family=Yuji+Mai&display=swap" rel="stylesheet">  
	
</head>
<body style="background-color: rgba(239, 239, 240, 1);">
	<div id='app'>
		
	</div>

	{% load static %}
	<script src="{% static 'frontend/main.js' %}"></script>
</body>
</html>